/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  .piece .pieceHeader {
    .pieceImage{
      align-items: flex-start;
      top: 0;
    }
    &:hover{
      .pieceImage{
        background-size: 45%;
      }
    }
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
}
/* Landscape phones and down */
@media (max-width: 480px) {
  .piece {
    .pieceHeader .pieceImage{
      display: none;
    }
  }
  .row{
    .third, .half, .twoThirds, .threeQuarter{
      width: 100%;
    }
  }
  #portfolioPage {
    .pieces{
      .tools {
        margin: 1rem 0;
        ul{
          display: flex;
          justify-content: space-between;
          padding: 0;
        }
      }
      .highlightButton{
        top: 0;
      }
    }
  }
  input:checked{
    .sitePreview{
      display: none;
    }
  }
  #portfolioPage .pieces input:checked + label .sitePreview{
    display: none;
  }

  #aboutContact{
    .aboutMe .row{
      flex-wrap: wrap;
      .half:first-of-type{
        order:2;
      }
      .half:last-of-type{
        order:1;
      }
      .portrait{
        display: flex;
        align-self: stretch;
        height: 100%;
        img{
          bottom: 0;
          margin-top: $gap;
        }
      }
    }
  }
  .movableObjectContainer {
    svg{
      height: 6vmax;
      left: 20px;
      text{
        font-size: 5vmax;
      }
    }
  }
  footer{
    flex-wrap: wrap;
    text-align: center;
    .third{
      justify-content: center;
    }
    input{
      width: 100%;
      text-align: center;
    }
  }
}