@import './partials/utils';
@import './partials/setup';
@import './partials/landingGridAreas';

.App{
  position: relative;
  max-width: 100%;
  width: 100vw;
  height: 100%;
}
.outterWrapper{
  position: relative;
  padding: $gap;
  display: flex;
  width: 100%;
  &.vh{
    height: 100vh;
  }
  // align-self: stretch;
  // width: calc(100% - (#{$gap} * 2));
  // max-width: 100%;
  // margin: $gap;
}
.landingHeader{
  background: $light;
  h1{
    font-family: $headingFont;
    font-weight: 400;
  }
}
header{
  display: flex;
  // height: 100vh;
  width: 100%;
  max-width: 100%;
  .mainHeader{
    color: $light;
    background: $dark;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .movableObjectContainer{
      top: -3rem;
      // z-index: 999;
    }
    // align-self: stretch;
    // align-items: flex-start;
  }
}

footer{
  background: $dark;
  color: $light;
  padding: $gap;
  width: 100%;
  height: 100%;
  min-height: 30vh;
  p{
    margin: 0;
  }
  .row{
    // margin: 0.5rem 0;
  }
  .social{
    margin: 1rem .5rem 0;
    font-size: 1.5rem;
    transform: scale(1);
    transition: transform .2s;
    &:hover{
      transform: scale(1.15);
    }
  }
  input{
    font-family: $bodyFont;
    background: transparent;
    color: $light;
    border: none;
    outline: none;
    cursor: pointer;
    padding-bottom: 0.25rem;
    border-bottom: 1px solid transparent;
    transition: border .3s;
    &:hover{
      border-bottom: 1px solid $light;
    }
  }
}

html{
    background: $light;
    font-size: calc(16px + (24 - 16) * ((100vw - 500px) / (1600 - 500)));
}

h1{
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: .05rem;
}
h2{
  font-size: 1rem;
  margin: 0;
  font-weight: 400;
}
textarea{
    resize: none;
    width: 100%;
}
.primaryHeading{
  font-family: $headingFont;
  font-size: 3rem;
  font-weight: 400;
  z-index: -1;
}
p{
  font-weight: 400;
  font-size: .9rem;
  font-family: $headingFont;
}

a, a:active, a:hover{
    text-decoration: none;
    color: inherit;
}

ul{
    padding: 0;
    list-style: none;
}

.row{
  display: flex;
  width: 100%;
  height: auto;
  align-self: flex-start;
  align-items: flex-start;
  &.justifyCenter{
    justify-content: center;
  }
  &.spaceBetween{
    justify-content: space-between;
  }
  &.justifyEnd{
    justify-content: flex-end;
  }
  &__padding{
    padding: $gap calc(#{$gap} * 2);
    &--sides{
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  &.wrap{
    flex-wrap: wrap;
  }
  .third{
    width: 33%;
  }
  .half{
    width: 50%;
  }
  .twoThirds{
    width: 66%;
  }
}

.movableObjectContainer{
    grid-area: middleLeft;
    position: relative;
    display: flex;
    align-self: center;
    height: 3rem;
    width: 100%;
    // margin-top: $gap;
    text-transform: uppercase;
    .displayContainer{
      height: 100%;
      width: 100%;
    }
    &__img{
      height: 100%;
      margin-top: 0;
    }
    &:after{
        content: '';
        z-index: 999;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    svg{
        position: absolute;
        transition: top .15s ease-out, left .15s ease-out;
        width: 100%;
        path, text{
          mix-blend-mode: screen;
          &:last-of-type{
            top: 3rem;
          }
        }
        text{
            position: absolute;
            width: 100%;
            font-family: $bodyFont;
            font-weight: 400;
            font-size: 3rem;
            text-transform: initial;
            display: flex;
            transition: fill .3s;
        }
        .logo text{
          font-size: 3.5rem;
        }
    }
    .cyanObj,.magentaObj,.yellowObj{
      overflow: visible;
      // height: 5rem;
    }
    .cyanObj {
        path, text{
            fill: $cyan;
        }
    }
    .magentaObj{
        // fill: $magenta;
        path, text{
            fill: $magenta;
        }
    }
    .yellowObj{
        path, text{
            fill: $yellow;
        }
    }
}

.mainNav {
  display: grid;
  // text-align: right;
  // grid-template-rows: 2fr 30vmin 2fr;
  justify-content: start;
  align-items: center;
	position: relative;
	// text-align: right;
  // width: $gutter;
  // height: 100%;
  // justify-content: flex-end;
	ul {
    padding: 0;
    // border-right: $border;
    list-style: none;
		margin: 0;
		margin-bottom: .2rem;
    font-weight: 400;
    letter-spacing: .05rem;
    font-size: .8rem;
    z-index: 50;
    grid-row: 2/2;
	}
	li {
		margin-bottom: 10%;
		display: block;
		a{
			text-transform: uppercase;
			font-size: .85em;
			padding-bottom: .15em;
			border-bottom: $border;
			border-color: transparent;
			transition: border-color .4s;
		}
		&:hover{
			a{
				border-bottom: $border;
			}
		}
	}
}

.landingNav{
  ul{
    li:nth-of-type(1){
      display: none;
    }
  }
}
.piece{
    padding-bottom: calc(#{$gap} * 3);
    margin: 0 auto;
    // height: 25vmin;
    max-height: 100%;
    width: 100%;
    background: $light;
    transition: height .3s, max-height .3s;
    z-index: 999;
    .pieceHeader{
      position: relative;
      width: 100%;
      z-index: 100;
      cursor: pointer;
      overflow: visible;
      .pieceImage{
        // @include position(absolute,0,0,0,0);
        position: absolute;
        width: auto;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        // background-size: 40%;
        // background-position: right center;
        height: 100%;
        opacity: 0;
        z-index: -1;
        transform: scale(1);
        transform-origin: center right;
        transition: opacity .3s, transform 10s linear;
        img{
          border: solid $dark;
          border-width: .5rem .3rem .5rem;
          border-radius: 3% 3% 3% 3%;
          outline: none;
          width: 40%;
        }
        // &:before{
        //   content: '';
        //   @include position(absolute,0,0,0,60%);
        //   opacity: 0;
        //   z-index: 100;
        //   box-shadow: inset -1000px -1000px 10px #cccccc46;
        //   transition: opacity .2s linear, left 5s linear;
        // }
      }
    }
    .order{
      font-size: 5rem;
      font-family: $headingFont;
      font-weight: 400;
      margin:0;
      margin: 1rem 0;
      color: $dark;
      transition: color 0.3s;
    }
    .pieceName{
      font-size: 2.5rem;
      font-weight: 700;
      margin: 1rem 0;
    }
    .caption{
      font-size: 1rem;
      font-weight: 400;
      margin: 1rem 0;
    }
    .pieceInfo{
      opacity: 0;
      height: 0;
      transition: opacity .3s, height .3s;
    }
    &.previewType{
      height: 100%;
      width: 5rem;
      text-align: center;
      font-size: 2rem;
      padding: 1rem;
      height: auto !important;
      svg, path{
        // z-index: -1;
        fill: $dark;
        transition: fill .15s;
      }
      &:hover{
        svg, path{
          fill: var(--highlightColor);
        }
      }
    }
    &:hover{
      .order{
        color: var(--highlightColor);
      }
      .pieceImage{
        transform: scale(1.1);
        opacity: 1;
      }
    }
  }

#portfolioPage{
  width: 100%;
  .pieces{
    ul{
      margin: 0;
      padding:  0 $gap;
      display: grid;
      grid-auto-rows: repeat(1fr);
      align-items: center;
      width: 100%;
    }
    li{
      border-top: $border;
      align-self: stretch;
      display: flex;
      align-items: center;
      font-weight: 500;
      .movableObjectContainer{
        height: 3rem;
      }
    }
    .sitePreview, p{
      display: none;
    }

    .tools{
      ul{
        height: initial;
        justify-content: center;
      }
      li{
        margin: 0;
        border: none;
        color: var(--highlightColor);
      }
    }

    input{
      display: none;
      &:checked{
        + label{
          max-height: 100%;
          // min-height: 100%;
          height: 100%;
          z-index: 999;
          .pieceInfo{
            opacity: 1;
            height: auto;
          }
          .pieceHeader{
            svg[class*="fa"]{
              margin-left: 5rem;
              opacity: 1;
            }
          }
          .sitePreview, p{
            display: block;
          }
        }
      }
    }
    .previewTypes{
      display: flex;
      // justify-content: center;
      width: 50%;
      margin: 0 auto;
    }
    label{
      margin: 0 auto;
      // height: 500px;
      max-height: 100%;
      width: 100%;
      background: $light;
      overflow: hidden;
      transition: height .3s, max-height .3s;
      .pieceInfo{
        opacity: 0;
        height: 0;
        transition: opacity .3s, height .3s;
      }
      &.previewType{
        height: 100%;
        width: 5rem;
        text-align: center;
        font-size: 2rem;
        padding: 1rem;
        height: auto !important;
        svg, path{
          z-index: -1;
          fill: $dark;
          transition: fill .15s;
        }
        &:hover{
          svg, path{
            fill: var(--highlightColor);
          }
        }
      }
      &:hover{
        .order{
          color: var(--highlightColor);
        }
      }
    }
    .description, .tools{
      line-height: 1.5rem;
      margin-top: $gap;
      // padding: 1rem 50% 1rem 0;
      // padding: 1rem 20%;
      // background-color: $light;
      // background-size: cover;
      p{
        // background: $light;
        // padding: $gap;
        // border: $border;
      }
    }
    .pieceHeader{
      margin-top: calc(#{$gap} * 1.5);
      background: inherit;
      a{
        display: flex;
        align-items: center;
      }
      h4, h2{
        margin: 0.25rem 0;
      }
    }
  }
}

.siteWindow{
  position: relative;
  display: flex;
  justify-content:center;
  border-style: solid;
  border-color: $dark;
  transform: translateZ(0);
  transition: transform 1.5s, width 1s cubic-bezier(0.50, 0, .65, 1), height 1s cubic-bezier(0.50, 0, .65, 1), border-width .5s, border-radius .5s;
  object{
    width: 100%;
  }
  &.desktop{
    height: 95vh;
    width: 100%;
    border-width: 2rem .75rem 1.5rem;
    border-radius: 2% 2% 2% 2%;
  }
  &.tablet{
    height: 85vh;
    width: calc(768px + 1.9rem);
    border-width: 2rem 1rem 2rem;
    border-radius: 1rem 1rem 1rem 1rem;
  }
  &.mobile{
    height: 87vh;
    width: calc(320px + 1.5rem);
    border-width: 1rem .75rem 2.5rem;
    border-radius: .5rem;
  }
  .overlay{
    @include position(absolute,0,0,0,0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: $black;
    mix-blend-mode: hard-light;
    opacity: .75;
    cursor: pointer;
    transition: opacity .12s;
    div{
      z-index: 999;
      width: 100%;
      color: $light;
      text-align: center;
      mix-blend-mode: screen;
      h3{
        margin-bottom: 1em;
        font-family: $headingFont;
      }
      svg{
        transform: scale(1.3);
      }
    }
  }
}

.portrait{
  position: relative;
  height: 100%;
  display: flex;
  align-self: center;
  z-index: 100;
  padding: 0 calc(#{$gap} * 2);
  img{
    position: relative;
    width: 100%;
    align-self: center;
    box-shadow: 0 0 50px -5px #ddd;
  }
}

#contact{
  background: $dark;
  height: 100%;
  form {
    padding: $gap;
    input{
      height: 2.5em;
      width: 100%;
    }
    textarea{
      margin-top: 1rem;
    }
    input, textarea {
      background-color: $dark;
      color: $light;
      border: none;
      border-bottom: 1px solid #ccc;
      border-radius: 0;
      outline: none;
      transition: border .2s;
      font-size: 1rem;
      &:focus {
        border-bottom: .2rem solid #ccc;
      }
      &::placeholder{
        color: #ccc;
        font-size: 0.75rem;
      }
    }
    button{
      background-color: transparent;
      border: none;
      outline: 2px;
      width: 7rem;
      padding: .5rem;
      margin-top: 1rem;
      transition: background .2s ease-in-out, transform .2s ease-in-out;
      h4{
        color: $light;
        font-weight: 500;
        font-size:.75rem;
        padding: 0;
        margin:0;
        transition: color .2s ease-in-out, font-size .2s ease-in-out;
      }
      &:hover{
        background-color: $light;
        h4{
          color: $dark;
        }
      }
      &:active{
        transform: scale(1.05);
      }
    }
  }
}
#aboutContact{
  .outterWrapper:nth-of-type(2){
    padding-bottom: 0;
  }
  .outterWrapper:last-of-type{
    padding-top: 0;
  }
  h1{
    font-size: 2.5rem;
    margin-bottom: .5rem;
  }
  h2{
    text-transform: uppercase;
    margin-bottom: 2rem;
  }
  h3{
    color: $light;
    font-size: 2.5rem;
    text-transform: uppercase;
  }
  p{
    font-size: 0.75rem;
    line-height: 1.5rem;
  }
  .highlightButton{
    display: flex;
    align-items: center;
    padding: .25rem 0.5rem;
    svg[class*="fa"]{
      margin-left: 0;
      margin-right: .5rem;
    }
  }
  .half.stretch{
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: center;
  }
}

.highlightButton{
  position: relative;
  background: transparent;
  padding: .5rem;
  margin-right: .5rem;
  top: -3px;
  left: 0;
  border: 2px solid $dark;
  transition: border .2s, top .2s;
  display: flex;
  color: $dark;
  p{
    font-size: .8rem;
    font-family: $bodyFont;
    margin: 0;
    color: $dark;
    transition: color .3s
  }
  svg{
    margin-left: 0.5rem;
    path{
      fill: $dark;
      transition: fill .3s;
    }
  }
  &:hover{
    border-color: var(--highlightColor);
    top: 0px;
    p{
      color: var(--highlightColor);
    }
    svg path{
      fill: var(--highlightColor);
    }
  }
}
.switch-wrapper {
  position: relative;
  width: 100%;
}

.switch-wrapper > div {
  position: absolute;
  width: 100%;
}

@import './partials/mediaQueries';